<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Checklist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formControl" (ngSubmit)="save()">
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" maxlength="{{maxNameChars}}" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description: </ion-label>
        <ion-input type="text" maxlength="{{maxDescripChars}}" formControlName="description"></ion-input>
      </ion-item>
      <button ion-button block type="submit">Save</button>
    </form>
    <button ion-button block (click)="addLabels()">Add Labels</button>
    <ion-list *ngIf="labels !== undefined">
      <ion-label>Labels:</ion-label>
      <ion-item *ngFor="let label of labels">
        <ion-label>{{label.value.name}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
