<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="title"></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="editChecklist()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="deleteChecklist()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>Labels: </ion-label>
  <ion-item>
    <ion-badge *ngFor="let label of labels">{{label.name}}</ion-badge>
  </ion-item>
  <ion-title id="description"></ion-title>
  <form [formGroup]="formControl" (ngSubmit)="saveChanges()">
    <ion-list *ngIf="controlsCompletedSetup()">
      <ion-item>
        <ion-row formArrayName="items" *ngFor="let item of itemKVPairs | keyValue; let i = index">
          <ion-col><ion-item><ion-checkbox formControlName="{{item.key + i}}"></ion-checkbox></ion-item></ion-col>
          <ion-col><ion-item><ion-input type="text" formControlName="{{item.key}}"></ion-input></ion-item></ion-col>
          <ion-col><ion-item>
            <ion-buttons right>
              <button ion-button icon-only (click)="deleteItem(item.key)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item></ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block>Save Changes</button>
  </form>
  <ion-buttons>
    <button ion-button (click)="addNewItem()">
      <ion-icon name="add"> Add New Item</ion-icon>
    </button>
  </ion-buttons>
</ion-content>