<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="title"></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="editChecklist()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="deleteChecklist()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>Labels: </ion-label>
  <ion-item>
    <ion-badge *ngFor="let label of labels">{{label.name}}</ion-badge>
  </ion-item>
  <ion-title id="description"></ion-title>
  <ion-list>
    <li *ngFor="let item of itemKVPairs | keyValue" >
      <div class="item">
        <ion-item>
          <ion-input type="text" value="item.value.content" (onChange)="itemValueChange(item.key)" id="content"+"item.key"></ion-input>
          <ion-checkbox (click)="itemChecked(item.key)"></ion-checkbox>
        </ion-item>
        <ion-buttons right>
          <button ion-button icon-only class="editButton" (click)="viewItem(item.key)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </li>
  </ion-list>
  <ion-buttons right>
    <button ion-button (click)="addNewItem()">
      <ion-icon name="add"> Add New Item</ion-icon>
    </button>
  </ion-buttons>
</ion-content>