<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Checklists</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="addNewChecklist()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="checklists !== undefined">
    <li *ngFor="let checklist of checklists | keyValue" (click)="goToChecklist(checklist.key)">
      <ion-card id="checklist-card">
        <ion-card-header>{{checklist.value.name}}</ion-card-header>
        <ion-card-content>{{checklist.value.description}}</ion-card-content> 
        <ion-item *ngIf="checklist.value.labels !== undefined && labelNames !== undefined">
            <ion-badge *ngFor="let labelRef of checklist.value.labels | keyValue">{{this.getLabelFor(labelRef.value)}}</ion-badge>
        </ion-item>
      </ion-card>
    </li>
  </ion-list>
</ion-content>
